.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background: linear-gradient(135deg, #e05656, #d9e1f0);
  font-family: Arial, sans-serif;
}

.formWrapper {
  background: white;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 360px;
  text-align: center;
}

.title {
  font-size: 24px;
  color: #414141;
  margin-bottom: 25px;
}

.input {
  width: 100%;
  padding: 15px 5px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #cb1a11;
  box-shadow: 0 0 5px rgba(203, 17, 17, 0.5);
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background-color: #6a11cb;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #2575fc;
}

.message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}